/* Estilos generales del sitio */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 3rem;
}

header p {
  margin: 10px 0 0;
  font-size: 1.5rem;
}

ul.redes {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul.redes li {
  display: inline;
  margin: 0 10px;
}

ul.redes a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

ul.redes a:hover {
  color: #4CAF50;
}

/* Estilos del About Me */
#about {
  padding: 40px 20px;
  text-align: center;
  background-color: #ffffff;
  margin-top: 20px;
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#about p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Estilos de los proyectos */
#proyectos {
  padding: 40px 20px;
  background-color: #f9f9f9;
}

#proyectos h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.proyecto {
  margin-bottom: 40px;
}

/* Estilos para la galería interactiva */
.galeria-interactiva {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.galeria-interactiva img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.galeria-interactiva button {
  background-color: #4CAF50; /* Color de fondo verde */
  border: none;
  font-size: 3rem; /* Aumentamos el tamaño del texto */
  padding: 15px; /* Aumentamos el tamaño del botón */
  cursor: pointer;
  color: white; /* Cambiamos el color del texto a blanco */
  border-radius: 10px; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.galeria-interactiva button:hover {
  background-color: #45a049; /* Cambia el color al pasar el ratón */
  transform: scale(1.1); /* Aumenta el tamaño del botón ligeramente */
}

.galeria-interactiva button:active {
  background-color: #388e3c; /* Color más oscuro al hacer clic */
}

/* Estilos del footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
}